In [1]:
'''1. Create a list with integers from 1 to 10.'''
l1=list(range(1,11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
'''2. Find the length of a list without using the `len()` function.
'''
l2=[1,2,3,4,5]
count=0
for _ in l2:
    count+=1
print("length is : ",count)

length is :  5

In [4]:
'''3. Append an element to the end of a list.
'''
l3=[1,2,3,4]
l3.append(5)
print(l3)

[1, 2, 3, 4, 5]

In [5]:
'''4. Insert an element at a specific index in a list.'''
l4=[23,24,26,27,28]
l4.insert(2,25)
print(l4)

[23, 24, 25, 26, 27, 28]

In [7]:
'''5. Remove an element from a list by its value.'''
l5=[23,24,26,27,28]
l5.remove(23)
print(l5)

[24, 26, 27, 28]

In [8]:
'''6. Remove an element from a list by its index.'''
l6=[23,24,25,26,27]
del l6[0]
print(l6)

[24, 25, 26, 27]

In [ ]:
'''7. Check if an element exists in a list.'''
l7=[33,34,35,36,37]
if 33 in l7:
    print("present")
else:
    print("not present")

In [12]:
'''8. Find the index of the first occurrence of an element in a list.'''
l8=[32,34,33,36,33]
index=l8.index(33)
print(index)

2

In [ ]:
'''9. Count the occurrences of an element in a list.
'''
l9=[10,20,30,20,40,20]
count=l9.count(20)
print(count)

3

In [14]:
'''10. Reverse the order of elements in a list'''
l10=[33,34,35,36,37]
rev_l10=l10[::-1]
print("reversed list :  ",rev_l10)

reversed list :   [37, 36, 35, 34, 33]

In [16]:
'''11. Sort a list in ascending order.'''
l11=[37, 36, 35, 34, 33]
l11.sort()
print(l11)

[33, 34, 35, 36, 37]

In [18]:
'''12. Sort a list in descending order.'''
l12=[10,20,30,20,40,20]
l12.sort(reverse=True)
print(l12)

[40, 30, 20, 20, 20, 10]

In [21]:
'''13. Create a list of even numbers from 1 to 20.'''
l13=list(range(2,21,2))
print(l13)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
'''14. Create a list of odd numbers from 1 to 20.
'''
odd_numbers = list(range(1, 21, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
'''15. Find the sum of all elements in a list.'''
l15=[1, 3, 5, 7, 9]
sum=0
for item in l15:
    sum+=item
print("sum is : ",sum)

sum is :  25

In [3]:
'''16. Find the maximum value in a list.
'''

l16=[1, 3, 5, 7, 9]
max_ele=max(l16)
print("max element is : " ,max_ele)

max element is :  9

In [4]:
'''17. Find the minimum value in a list.'''

l17=[1, 3, 5, 7, 9]
min_ele=min(l16)
print("minimum element is : " ,min_ele)

minimum element is :  1

In [6]:
'''18. Create a list of squares of numbers from 1 to 10.'''
l18=[]
for i in range(11):
    l18.append(i**2)
print(l18)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
'''19. Create a list of random numbers.'''
import random
random_list = [random.randint(1, 100) for _ in range(10)]

print(random_list)

[59, 34, 87, 67, 73, 8, 61, 17, 61, 30]

In [9]:
'''20. Remove duplicates from a list.'''
l20=[0, 1, 4, 1,1,4,1,0]
unique_ele=list(set(l20))
print(unique_ele)

[0, 1, 4]

In [12]:
'''21. Find the common elements between two lists.'''
l21a=[1,2,3,4]
l21b=[3,5,6,4]
common_ele=list( set(l21a) & set(l21b) )
print(common_ele)

[3, 4]

In [14]:
'''22. Find the difference between two lists.'''
diff=list(set(l21a)-set(l21b))
print(diff)

[1, 2]

In [15]:
'''23. Merge two lists.'''
merged_list=l21a+l21b
print(merged_list)

[1, 2, 3, 4, 3, 5, 6, 4]

In [16]:
'''24. Multiply all elements in a list by 2.'''
mul_list=[x*2 for x in l21a]
print(mul_list)

[2, 4, 6, 8]

In [18]:
'''25. Filter out all even numbers from a list.'''
nums=list(range(21))
even_nums=[]
[even_nums.append(x) for x in nums if x%2==0]
print(even_nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
'''26. Convert a list of strings to a list of integers.'''
str_list=['12','13','14','15']
nums=[int(x) for x in str_list]
print(nums)

[12, 13, 14, 15]

In [21]:
'''27. Convert a list of integers to a list of strings.'''
str_list2=[str(x) for x in nums]
print(str_list2)

['12', '13', '14', '15']

In [22]:
'''28. Flatten a nested list.'''
l28=[ [1,2],[3,4],[5,6] ]
flatten_list=[item for sub_list in l28 for item in sub_list]
print(flatten_list)

[1, 2, 3, 4, 5, 6]

In [24]:
'''29. Create a list of the first 10 Fibonacci numbers.
'''
fibbo=[0,1]
while len(fibbo)<10:
    fibbo.append(fibbo[-1]+fibbo[-2])
    
print(fibbo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [29]:
'''30. Check if a list is sorted.'''
l30=[1, 2, 3, 4, 5, 6]
is_sorted = all(l30[i]<=l30[i+1] for i in range(len(l30)-1) ) 
print(is_sorted)

True

In [30]:
'''31. Rotate a list to the left by `n` positions.'''
l31=[1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14]
n=int(input("Enter the value of shifting : "))
rotated_list=l31[n:]+l31[:n]
print(rotated_list)

Enter the value of shifting :  3

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 2, 3]

In [31]:
'''32. Rotate a list to the right by `n` positions.'''
l32=[1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14]
n6=int(input("Enter the value of shifting : "))
rotated_list2=l32[-n:]+l32[:-n]
print(rotated_list2)

Enter the value of shifting :  3

[12, 13, 14, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [33]:
'''33. Create a list of prime numbers up to 50.'''
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_list = [num for num in range(2, 51) if is_prime(num)]

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [34]:
'''34. Split a list into chunks of size `n`.'''
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunked_list = [my_list[i:i + n] for i in range(0, len(my_list), n)]

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
'''35. Find the second largest number in a list.'''
l35=[59, 34, 87, 67, 73, 8, 61, 17, 61, 30]
largest=l35[0]
second_largest=l35[0]

if len(l35)>0:
    for item_35 in l35:
        if item_35 >largest:
            # print(largest,second_largest,item_35)
            second_largest=largest
            largest=item_35           
        elif item_35 < largest and item_35 >second_largest:
            second_largest=item_35
print("largest is : ",largest,"\nsecond_largest is : ",second_largest)

largest is :  87
second_largest is :  73

In [54]:
'''36. Replace every element in a list with its square.'''

list36 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(list36)):
    list36[i] = list36[i]**2

print(list36)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''
dict37=dict()

list37=[23,24,25,26]

for i in range(len(list37)):
    dict37[list37[i]]=i
print(dict37)

{'23': 0, '24': 1, '25': 2, '26': 3}

In [60]:
'''38. Shuffle the elements of a list randomly.'''
import random
list38=[1, 2, 3, 4, 5, 6, 7, 8, 9]
random .shuffle(list38)
print(list38)

[7, 8, 9, 6, 3, 2, 1, 5, 4]

In [62]:
'''39. Create a list of the first 10 factorial numbers.'''

import math

factorial_lis = [ math.factorial(x) for x in range(1,11)]
print(factorial_lis)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
'''40. Check if two lists have at least one element in common.
'''

l40a=[1,2,3,4]
l40b=[1,6,7,8]

com=set(l40a) & set(l40b)

if len(com)>0:
    print("yes lists have at least one common element ")
else:
    print("no common element ")

In [63]:
'''41. Remove all elements from a list.'''

l41=[1,2,3,4]
l41.clear()
print(l41)

[]

In [68]:
'''42. Replace negative numbers in a list with 0.'''

l42=[7, -8, 9, -6, 3, -2, 1, -5, 4]

# for i in range(len(l42)):
#     if l42[i]<0:
#         l42[i]=0
#prin(l42)
modified_list = [max(0, x) for x in l42]

print(modified_list)

[7, 0, 9, 0, 3, 0, 1, 0, 4]

In [69]:
'''43. Convert a string into a list of words.
'''
str23="find the one with the maximum length"
list43=str23.split()
print(list43)

['find', 'the', 'one', 'with', 'the', 'maximum', 'length']

In [70]:
'''44. Convert a list of words into a string.'''
list44=['find', 'the', 'one', 'with', 'the', 'maximum', 'length']
str24=' '.join(list44)
print(str24)

find the one with the maximum length

In [72]:
'''45. Create a list of the first `n` powers of 2.'''

n=int(input("Enter the value of n : " ))
print("first n powers of 2 are : ",end=' ')
for i in range(n+1):
    print(2**i,end=' ')

Enter the value of n :  15

first n powers of 2 are :  1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768

In [76]:
'''46. Find the longest string in a list of strings.'''
list46=['find', 'the', 'one', 'with', 'the', 'exclusive', 'manner']
lon_str=max(list46,key=len)
print("longest string is : ",lon_str)

longest string is :  exclusive

In [77]:
'''47. Find the shortest string in a list of strings.'''
list47=['find', 'the', 'one', 'with', 'the', 'exclusive', 'manner']
sor_str=min(list47,key=len)
print("shortest string is : ",sor_str)

shortest string is :  the

In [79]:
'''48. Create a list of the first `n` triangular numbers.'''

def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [80]:
'''49. Check if a list contains another list as a subsequence.
'''
list49a = [1, 2, 3, 4, 5]
list49b = [2, 3, 4]
is_subsequence = all(item in list49 for item in list2)
print(is_subsequence)

True

In [ ]:
'''50. Swap two elements in a list by their indices'''
my_list = [1, 2, 3, 4, 5]
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]