In [1]:
'''1. Create a set with integers from 1 to 5.
'''
st1=set(range(1,6))
print("elements are : ",st1)

elements are :  {1, 2, 3, 4, 5}

In [2]:
'''2. Add an element to a set.'''
st1.add(100)
print("elements are : ",st1)

elements are :  {1, 2, 3, 4, 5, 100}

In [5]:
'''3. Remove an element from a set.'''
st1.discard(1)
print("elements are : ",st1)

elements are :  {2, 3, 4, 5, 100}

In [8]:
'''4. Check if an element exists in a set.
'''
key_st1=int(input("entr the data you want to search"))
if key_st1 in st1:
    print("element is present in set")
else:
    print("element is not present")

entr the data you want to search 4

element is present in set

In [2]:
'''5. Find the length of a set without using the `len()` function.'''
set2={12,13,14,15,16}
count=0
for _ in set2:
    count=count+1
print("total elements are : ",count)

total elements are :  5

In [3]:
'''6. Clear all elements from a set.
'''
set2.clear()
print(set2)

set()

In [5]:
'''6. Clear all elements from a set.
'''
even_numbers=set(range(2,11,2))
print("Even numbers are :",even_numbers)

Even numbers are : {2, 4, 6, 8, 10}

In [6]:
'''8. Create a set of odd numbers from 1 to 10.'''
odd_numbers=set(range( 1,10,2))

print("odd numbers are :",odd_numbers)

odd numbers are : {1, 3, 5, 7, 9}

In [8]:
'''9. Find the union of two sets.
'''
set2={5,6,7,200,300}
set3={100,200,300,400}
union_set=set2.union(set3)
print(union_set)

{100, 5, 6, 7, 200, 300, 400}

In [15]:
'''10. Find the intersection of two sets.
'''
set4={200,300}
inter_set=set2.intersection(set4)
print(inter_set)

{200, 300}

In [17]:
'''11. Find the difference between two sets.
'''
differ_set=set2-set4
print(differ_set)

{100, 5, 6, 7, 400}

In [19]:
'''12. Check if a set is a subset of another set.
'''
print(set4.issubset(set2))

True

In [21]:
'''13. Check if a set is a superset of another set.'''
print(set2.issuperset(set4))

True

In [10]:
'''14. Create a set from a list.'''
list1=[1,2,3,4,4]
set1=set(list1)
print(set1)

{1, 2, 3, 4}

In [11]:
'''15. Convert a set to a list.'''
list1=list(set1)
print(list1)

[1, 2, 3, 4]

In [3]:
'''16. Remove a random element from a set.'''
st3={1,2,3,4,5}
st3.pop()
print(st3)
st3.pop()
print(st3)

{2, 3, 4, 5}
{3, 4, 5}

In [9]:
'''17. Pop an element from a set.'''

st4={23,43,53,63,73}
popped_st4=st4.pop()
print(popped_st4)

53

In [9]:
'''18.Check if two sets have no elements in common.'''
set5=set(input("Enter the elements in set :"))
set6=set(input("Enter the elements in another set :"))
inter_set=set5.intersection(set6)
if (len(inter_set)==0):
    print("No intersection between set!")
else:
    print("intersection between set is :",inter_set)

Enter the elements in set : 1 2 3 4
Enter the elements in another set : 56

intersection between set is : {' '}

In [19]:
'''19. Find the symmetric difference between two sets.'''
set6={1,2,3,4,5}
set7={4,5,7,2,9,10}
union_set=set6.union(set7)
inter_set=set6.intersection(set7)
print("Symmetric difference is : ",union_set-inter_set)

Symmetric difference is :  {1, 3, 7, 9, 10}

In [29]:
'''20. Update a set with elements from another set'''
set8={1,2,3,4,5}
up_set={6,7}
set8.update(up_set)
print(set8)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
'''21. Create a set of the first 5 prime numbers.'''

# Initialize an empty set to store prime numbers
prime_numbers = set()

# Initialize a variable to start checking numbers
number = 2

# Continue until we have found 5 prime numbers
while len(prime_numbers) < 5:
    is_prime = True
    
    # Check if the current number is prime
    for divisor in range(2, int(number/2) + 1):
        if number % divisor == 0:
            is_prime = False
            break
    
    # If the number is prime, add it to the set
    if is_prime:
        prime_numbers.add(number)
    
    # Move on to the next number
    number += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

In [40]:
'''22. Check if two sets are identical.'''
set9={1,2,3,4}
set10={5,6,7,8}
intersection_set= set9 & set10#It finds the intersection between two sets
if len(intersection_set)==0:
    print("The sets are identical")
else:
    print("not identical sets common elements are : ",intersection_set)

The sets are identical

In [ ]:
'''23. Create a frozen set.'''
my_set = {1, 2, 3}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

{frozenset({1, 2, 3}): 'hii'}

In [57]:
'''24. Check if a set is disjoint with another set.'''
set9={1,2,3,4}
set10={5,6,7,8}
intersection_set= set9 & set10#It finds the intersection between two sets
if len(intersection_set)==0:
    print("The sets are disjoint")
else:
    print("sets are not disjoint common elements are : ",intersection_set)

The sets are disjoint

In [59]:
'''25. Create a set of squares of numbers from 1 to 5'''
sq_set=set()
for num in range(1,6):
    value=num*num
    sq_set.add(value)
print("The set of square is : ",sq_set)

The set of square is :  {1, 4, 9, 16, 25}

In [61]:
'''26. Filter out all even numbers from a set.
'''
nums=range(1,31)
even_nums=set()
for i in nums:
    if i%2==0:
        even_nums.add(i)
print("Even numbers are : ",even_nums)

Even numbers are :  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}

In [62]:
'''27. Multiply all elements in a set by 2.'''
# Define a set
set11 = {1, 2, 3, 4, 5}

# Convert the set to a list, perform the operation, and convert it back to a set
modified_list = [x * 2 for x in set11]
result_set = set(modified_list)

print(result_set)

{2, 4, 6, 8, 10}

In [6]:
'''28. Create a set of random numbers'''
import random

# Set the seed for reproducibility (optional)
random.seed(42)

# Generate a set of 5 random numbers between 1 and 100 (adjust as needed)
random_set = set(random.sample(range(1, 101), 5))

print(random_set)

{4, 36, 15, 82, 95}

In [11]:
'''29. Check if a set is empty.'''
set12=set()
if (len(set12)==0):
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [13]:
'''30. Create a nested set (hint: use frozenset)'''
set13={1,2,3,frozenset({5,6,7}),45,56}
print(set13)

{1, 2, 3, 45, frozenset({5, 6, 7}), 56}

In [19]:
'''31. Remove an element from a set using the discard method.'''
set14={1,2,3,4}
set14.discard(2)
print("AFter remving a element : ",set14)

{1, 3, 4}

In [45]:
'''32. Compare two sets'''

set15={1,2,3,4000}
set16={3}
if set15>set16:
    print("these are equal")
else:
    print("not equal")

these are equal

In [1]:
'''33. Create a set from a string.'''
string="satellite"
set17=set(string)
print("set from string is : ",set17)

set from string is :  {'i', 's', 'e', 't', 'l', 'a'}

In [3]:
'''34. Convert a set of strings to a set of integers'''
set18={'12','13','46'}
int_set=set(int(item) for item in set18)
print('set of strings to a set of integers',int_set)

set of strings to a set of integers {12, 13, 46}

In [6]:
'''35. Convert a set of integers to a set of strings'''
set19={200,300,400}
str_set=set(str(x) for x in set19)
print(str_set)

{'300', '400', '200'}

In [8]:
'''36. Create a set from a tuple.'''
tup=(12,32,56,97)
set20=set(tup)
print(set20,type(set20))

{32, 97, 56, 12} <class 'set'>

In [9]:
'''37. Convert a set to a tuple.'''
set21={35,65,98,238}
tupl=tuple(set21)
print(tupl,type(tupl))

(65, 98, 35, 238) <class 'tuple'>

In [10]:
'''38. Find the maximum value in a set.'''
set22= {23,0,43,98,200,6001}
max_value=max(set22)
print("maximum value is : ",max_value)

maximum value is :  6001

In [13]:
'''39. Find the minimum value in a set.'''
min_value=min(set22)
print("minimum value is : ",min_value)

minimum value is :  0

In [1]:
'''40. Create a set from user input.'''
set23=set()
n=int(input("Enter a size of set : "))
for i in range(n):
    input_value=int(input("Enter the value"))
    set23.add(input_value)
print("Set contains values are : ",set23)

Enter a size of set :  3
Enter the value 23
Enter the value 56
Enter the value 980

Set contains values are :  {56, 980, 23}

In [4]:
'''41. Check if the intersection of two sets is empty.'''
set24={1,2,3,4}
set25={5,2,7,8}
intersection_set=set24.intersection(set25)
print(intersection_set)

{2}

In [12]:
'''42. Create a set of the first 5 Fibonacci numbers'''
set26=set()
x1=0
x2=1
for i in range(6):
    set26.add(x1)
    x3=x1+x2    
    x1=x2
    x2=x3
print(set26)

{0, 1, 2, 3, 5}

In [13]:
'''43. Remove duplicates from a list using sets.'''
list1=[1,2,3,1,2,3]
set27=set(list1)
print("After removing a duplicates : ",set27)

After removing a duplicates :  {1, 2, 3}

In [14]:
'''44. Check if two sets have the same elements, regardless of their count.'''
set28={32,56,73,98,700,67}
set29={700,800,98,35,32}
same_elements=set28.intersection(set29)
print("Same elements are : ",same_elements)

Same elements are :  {32, 98, 700}

In [20]:
'''45. Create a set of the first `n` powers of 2.'''
n1=int(input("Enter the numbers of power-2 : "))
set30=set()
for i in range(n1):
    set30.add(pow(2,i))
print("The powers of 2 are : ",set30)

Enter the numbers of power-2 :  10

The powers of 2 are :  {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

In [25]:
'''46. Find the common elements between a set and a list.'''
set31={12,54,65,78,92,91}
list5=[12,4,65,7]
common_ele=set31.intersection(set(list5))
print("Common elements are : ",common_ele)

Common elements are :  {65, 12}

In [26]:
'''47. Create a set of the first `n` triangular numbers.'''
n=int(input("Enter the number : "))
set32=set()
for i in range(1,n+1):
    value = i * (i + 1) / 2
    set32.add(value)
print(set32)

Enter the number :  9

{1.0, 3.0, 36.0, 6.0, 10.0, 45.0, 15.0, 21.0, 28.0}

In [35]:
'''48. Check if a set contains another set as a subset.'''
set33={12,13,14,15,16,17,18,19,20}
set34={12,15,16,20}
check=set33 > set34
if check:
    print("set contains a subset")
else:
    print("set not contains a subset")

set contains a subset

In [37]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''
n5 = int(input("Enter a value of n : " ))
set35 = set()
for i in range(n5):
    if i%2==0:
        set35.add(1)
    else:
        set35.add(0)
print(set35)

Enter a value of n :  5

{0, 1}

In [40]:
'''50. Merge multiple sets into one.'''
set37={1,2,3}
set38={4,5,6}
set39={7,8,9}
set40={10,11,12}
set37.update(set38,set39,set40)
print("Al sets are combined into a one set : ",set37)

Al sets are combined into a one set :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}